body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: greenyellow;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
}
